{% load humanize %}
<h4>Summary</h4>
<div>
  <strong># views:</strong> <span id="viewCount">{{ v.viewCount | intcomma }}</span>
</div>

<div>
  <strong># comments:</strong>
  <span id="commentCount">{{ v.commentCount | intcomma }}</span> <i id="commentCount_tooltip" class="fi-info" data-tooltip class="has-tip" title="The actual count of comments may differ because, since September 2013, shares on Google+ are counted as comments."></i>
</div>

<div>
  <strong># classified comments:</strong>
  <span class="classifiedCount" value="{{ comments | length }}">{{ comments | length | intcomma }}</span>
</div>

<div>
  <strong># classified spam:</strong>
  <span id="spamCount" value="{{ spam_count }}">{{ spam_count | intcomma }}</span>
</div>

<div>
  <strong># classified ham:</strong>
  <span id="hamCount" value="{{ ham_count }}">{{ ham_count | intcomma }}</span>
</div>
