{% extends "app/base.html" %}

{% block title %}About · TubeSpam{% endblock %}

{% block content %}
<div class="large-8 columns">
  <h2>Our motivation</h2>
  <h4 class="subheader text-justify"><i>"I go to the comments and it's mainly spam..."</i> - <a href="https://youtu.be/4_hHKlEZ9Go" target="_blank">PewDiePie</h4></a>
  <hr>
  <article>
    <p class="text-justify">The success of YouTube can be expressed through recent statistics reported by <a href="https://www.youtube.com/yt/press/statistics.html" target="_blank">Google</a>: the platform has more than 1 billion users and a staggering 300 hours of video are uploaded every minute, generating billions of views every day. Around 60% of a creator's views comes from outside their home country and half of YouTube views are on mobile devices.</p>
    <p class="text-justify">Recently, YouTube has adopted a monetization system to reward producers, stimulating them to make high quality original content and increase the amount of visualizations. However, such success has also attracted malicious users, which aim to self-promote their videos or disseminate viruses and malwares. Since YouTube offers limited tools for comment moderation, the spam volume is frightfully increasing which lead owners of famous channels to <a href="http://www.theguardian.com/technology/2014/sep/03/pewdiepie-switches-off-youtube-comments-its-mainly-spam" target="_blank">disable comment sections</a> in their videos.</p>
    <p class="text-justify">Given this problem, we offer the TubeSpam, an automatic filtering system of spam comments on YouTube. We propose the use of sophisticated computing procedures <em>(Machine Learning)</em> to automatically detect and remove undesired comments.</p>
    <p class="text-justify">You can find more about our fields of study at our laboratory's <a href="http://lasid.sor.ufscar.br/" target="_blank">website</a>.</p>

    <hr>
    <h2>Press</h2>
    <h4 class="subheader">Related articles and publications</h4>
    <blockquote>
      <p>Alberto, T.C., Lochter J.V., Almeida, T.A. <strong>Filtragem Automática de Spam nos Comentários do YouTube.</strong> Anais do XII Encontro Nacional de Inteligência Artificial e Computacional (ENIAC'15), Natal, RN, Brazil, 2015.</p>
    </blockquote>
  </article>
</div>

<div class="large-4 columns">
  <aside id="sidebar" class="panel sticky">
    <p class="lead">Are you facing spam in your YouTube channel?</p>
    <p>How we can help:
      <ul>
        <li>Automatic spam filtering</li>
        <li>Reach your true audience</li>
        <li>Ready to use</li>
      </ul>
    </p>
  </aside>
</div>
{% endblock %}

{% block js %}{% endblock %}
