<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}TubeSpam{% endblock %}</title>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  {% load staticfiles %}
  <link rel="stylesheet" href="{% static 'css/normalize.css' %}" />
  <link rel="stylesheet" href="{% static 'css/foundation.min.css' %}" />
  <link rel="stylesheet" href="{% static 'css/foundation-icons/foundation-icons.css' %}" />
  <link rel="stylesheet" href="{% static 'css/base.css' %}" />
  <script src="{% static 'js/vendor/modernizr.js' %}"></script>
</head>
<body>
  <!-- Nav Bar -->
  <div class="row">
    <div class="large-12 columns">
      <div class="nav-bar right">
       <ul class="button-group">
         <li><a href="{% url 'index' %}" class="button secondary">Home</a></li>
         <li><a href="{% url 'about' %}" class="button secondary">About</a></li>
        </ul>
      </div>
      <h1>TubeSpam</h1>
      <hr />
    </div>
  </div>
  <!-- End Nav -->

  <!-- Main Page Content and Sidebar -->
  <div id="content" class="row">
    {% block content %}{% endblock %}
  </div>
  <!-- End Main Content and Sidebar -->

  <!-- Footer -->
  <footer class="row">
    <div class="large-12 columns">
      <hr />
      <div class="row">
        <div class="large-6 columns">
          <p>Universidade Federal de São Carlos - UFSCar <small>Campus Sorocaba</small></p>
        </div>
        <div class="large-6 columns">
          <ul class="inline-list right">
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

  {% block js %}
  <!-- JS (Placed at the end of the document so the pages load faster) -->
  <script src="{% static 'js/vendor/jquery.js' %}"></script>
  <script src="{% static 'js/vendor/fastclick.js' %}"></script>
  <script src="{% static 'js/vendor/jquery.cookie.js' %}"></script>
  <script src="{% static 'js/foundation.min.js' %}"></script>
  {% endblock %}
</body>
</html>
