<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock %}</title>
  {% load staticfiles %}
  <link rel="icon" href="{% static 'app/img/favicon.ico' %}">
  <link rel="stylesheet" href="{% static 'vendor/css/normalize.css' %}" />
  <link rel="stylesheet" href="{% static 'vendor/css/foundation.min.css' %}" />
  <link rel="stylesheet" href="{% static 'vendor/css/foundation-icons/foundation-icons.css' %}" />
  <link rel="stylesheet" href="{% static 'app/css/base.css' %}" />
  <script src="{% static 'vendor/js/modernizr.js' %}"></script>
</head>
<body>
  <!-- Nav Bar -->
  <div class="row">
    <div class="large-12 columns">
      <div class="nav-bar right">
       <ul class="button-group">
         <li><a href="{% url 'index' %}" class="button secondary">Home</a></li>
         <li><a href="{% url 'about' %}" class="button secondary">About</a></li>
        </ul>
      </div>
      <h1>TubeSpam</h1>
      <hr />
    </div>
  </div>
  <!-- End Nav -->

  <!-- Main Page Content and Sidebar -->
  <div id="content" class="row">
    {% block content %}{% endblock %}
  </div>
  <!-- End Main Content and Sidebar -->

  <!-- Footer -->
  <footer class="row footer">
    <div class="large-12 columns">
      <p>Designed and built with proud and love by <a href="https://github.com/tuliocasagrande" target="_blank">@tuliocasagrande</a></p>
      <p><a href="http://www.sorocaba.ufscar.br/ufscar" target="_blank">UFSCar Sorocaba</a> · <a href="http://lasid.sor.ufscar.br" target="_blank">LaSID</a></p>
      <p>No hamsters were harmed during the development of this website : )</p>
    </div>
  </footer>

  <script src="{% static 'vendor/js/jquery.js' %}"></script>
  <script src="{% static 'vendor/js/foundation.min.js' %}"></script>
  <script src="{% static 'vendor/js/fastclick.js' %}"></script>
  <script src="{% static 'vendor/js/jquery.cookie.js' %}"></script>
  <script>$(document).foundation();</script>
  {% block js %}{% endblock %}
</body>
</html>
