{% extends "app/base.html" %}

{% block title %}Classify · TubeSpam{% endblock %}

{% block content %}
    {% load humanize %}
    {% load get_class_name %}
    {% load pretty_date %}
    <!-- Main Content -->
    <div class="large-8 columns" role="content">
      <article>
        <h3 id="video-title" video-id="{{ v.video_id }}">{{v.title}}</h3>

        <small>Published on {{ v.publishedAt | pretty_date }}</small>
        <div><small>{{ v.description }}</small></div>
      </article>

      {% csrf_token %}

    {% if len_error %}
      <p>At least 10 classified spam and 10 classified ham are needed!</p>

    {% else %}
      <h3>Labeled Comments</h3>
      <div id="classified_comments" class="comments panel callout radius">
      {% for c in comments %}
        {% include "app/_commentRow.html" %}
        {% if not forloop.last %}
        <hr/>
        {% endif %}
      {% endfor %}
      </div>

      <div id="comments">
        <h3>Prediction</h3><hr/>
      {% for c, p in prediction %}
        <div class="comment-row row" tag-type="automatic" comment-id="{{ c }}">
          <p class="content small-9 columns">{{ c }}</p>
          <div class="small-3 columns">
          {% if p %}
            <span class="comment_tag right tiny secondary button alert spam" disabled tag="spam">Spam</span>
            <span class="comment_tag right tiny secondary button ham" tag="ham">Ham</span>
          {% else %}
            <span class="comment_tag right tiny secondary button spam" tag="spam">Spam</span>
            <span class="comment_tag right tiny secondary button success ham" disabled tag="ham">Ham</span>
          {% endif %}
          </div>
        </div>
        <hr/>
      {% endfor %}
      </div>
      <a href id="more-comments" class="button expand secondary tiny loading-icon" disabled>Loading ...</a>

    {% endif %}
    </div>
    <!-- End Main Content -->

    <!-- Sidebar -->
    <aside class="large-4 columns">
      <div id="summary" class="panel">
        <h4>Summary</h4>
        {% include "app/_commonSummary.html" %}

        {% if not len_error %}
          <div id="clf-info">
          {% if clf %}
            <hr/>
            <div>
              <strong>Classifier:</strong>
              {{ clf | get_class_name }} (c: {{ clf.get_params.C|floatformat:-5 }})
            </div>
            <div>
              <strong>Accuracy:</strong>
              {{ acc|floatformat:2 }}% &#177; {{ stddev|floatformat:2 }}
            </div>
            <hr/>
          {% endif %}
          </div>
        {% endif %}
        <a href="{% url 'watch' %}?v={{ v.video_id }}" class="button expand tiny">Back to video</a>
        <a href="#" id="export-modal-button" data-reveal-id="export-modal" class="button expand secondary tiny" disabled>Export comments <i class="fi-arrow-down"></i></a>
      </div>

    </aside>
    <!-- End Sidebar -->
    {% include "app/_exportModal.html" %}
{% endblock %}

{% block js %}
  {% load staticfiles %}
  <script>var saveComment_ajax_url = "{% url 'saveComment' %}"; var train_ajax_url = "{% url 'train' %}"; var reloadClassifierInfo_ajax_url = "{% url 'reloadClassifierInfo' %}";</script>
  <script src="{% static 'app/js/common.js' %}" type="text/javascript"></script>
  <script src="{% static 'app/js/classify.js' %}" type="text/javascript"></script>
{% endblock %}
