{% extends "app/base.html" %}

{% block title %}TubeSpam{% endblock %}

{% block content %}
{% load humanize %}
<div class="row">
  <div class="large-12 columns">
    {% if classified_videos %}
    <h4>Most classified comments</h4>
    <div class="panel" role="content">
      <ul class="small-block-grid-4">
      {% for v in classified_videos %}
        <li>
            <div class="lockup-thumbnail">
              <a href="{% url 'watch' %}?v={{ v.video_id }}">
                <img alt="{{ v.title }}" src="{{ v.thumbnail }}" width="196" height="110">
              </a>
            </div>
            <a class="lockup-title" href="{% url 'watch' %}?v={{ v.video_id }}">{{ v.title }}</a>
            <div class="lockup-meta">
              <div>by {{ v.channelTitle }}</div>
              <div>{{v.viewCount | intcomma}} views</div>
              <div>{{v.commentCount | intcomma}} comments</div>
              <div>{{v.num_comments | intcomma}} classified comments</div>
            </div>
        </li>
      {% endfor %}
      </ul>
    </div>
    {% endif %}

    {% if yt_most_popular %}
    <h4>Most popular on YouTube</h4>
    <div class="panel" role="content">
      <ul class="small-block-grid-4">
      {% for v in yt_most_popular %}
        <li>
            <div class="lockup-thumbnail">
              <a href="{% url 'watch' %}?v={{ v.video_id }}">
                <img alt="{{ v.title }}" src="{{ v.thumbnail }}" width="196" height="110">
              </a>
            </div>
            <a class="lockup-title" href="{% url 'watch' %}?v={{ v.video_id }}">{{ v.title }}</a>
            <div class="lockup-meta">
              <div>by {{ v.channelTitle }}</div>
              <div>{{v.viewCount | intcomma}} views</div>
              <div>{{v.commentCount | intcomma}} comments</div>
            </div>
        </li>
      {% endfor %}
      </ul>
    </div>
    {% endif %}
  </div>
</div>
<div class="row">
  <div class="medium-10 medium-offset-1 large-8 large-offset-2 columns">
    <form action="{% url 'watch' %}">
      <div class="row collapse">
        <div class="small-7 medium-6 columns">
          <span class="prefix">https://www.youtube.com/watch?v=</span>
        </div>
        <div class="small-3 medium-4 columns">
          <input type="text" placeholder="Video ID" name="v">
        </div>
        <div class="small-2 columns">
          <input type="submit" class="button postfix" value="Go">
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}
