{% extends "app/base.html" %}

{% block title %}{% endblock %}

{% block content %}
{% load humanize %}
    {% if classified_videos %}
    <h4>Most classified comments</h4>
    <div class="large-12 columns panel" role="content">
      <ul class="small-block-grid-4">
      {% for v in classified_videos %}
        <li>
            <div class="lockup-thumbnail">
              <a href="{% url 'watch' %}?v={{ v.video_id }}">
                <img alt="{{ v.title }}" src="{{ v.thumbnail }}" width="196" height="110">
              </a>
            </div>
            <a class="lockup-title" href="{% url 'watch' %}?v={{ v.video_id }}">{{ v.title }}</a>
            <div class="lockup-meta">
              <div>by {{ v.channelTitle }}</div>
              <div>{{v.viewCount | intcomma}} views</div>
              <div>{{v.commentCount | intcomma}} comments</div>
              <div>{{v.num_comments | intcomma}} classified comments</div>
            </div>
        </li>
      {% endfor %}
      </ul>
    </div>
    {% endif %}

    {% if yt_most_popular %}
    <h4>Most popular on YouTube</h4>
    <div class="large-12 columns panel" role="content">
      <ul class="small-block-grid-4">
      {% for v in yt_most_popular %}
        <li>
            <div class="lockup-thumbnail">
              <a href="{% url 'watch' %}?v={{ v.video_id }}">
                <img alt="{{ v.title }}" src="{{ v.thumbnail }}" width="196" height="110">
              </a>
            </div>
            <a class="lockup-title" href="{% url 'watch' %}?v={{ v.video_id }}">{{ v.title }}</a>
            <div class="lockup-meta">
              <div>by {{ v.channelTitle }}</div>
              <div>{{v.viewCount | intcomma}} views</div>
              <div>{{v.commentCount | intcomma}} comments</div>
            </div>
        </li>
      {% endfor %}
      </ul>
    </div>
    {% endif %}
{% endblock %}
