{% extends "app/base.html" %}

{% block title %}{{v.title}}{% endblock %}

{% block content %}
    {% load pretty_date %}
    <!-- Main Content -->
    <div class="large-8 columns" role="content">
      <article id="video-details">
        <h3 id="video-title" video-id="{{ v.video_id }}">{{ v.title }}</h3>
        <small>Published on {{ v.publishedAt | pretty_date }}</small>
        <div><small>{{ v.description }}</small></div>
      </article>

      {% csrf_token %}

      <div id="new-comments" class="comments"></div>

      <a href id="more-comments" class="button expand secondary tiny loading-icon" disabled>Loading ...</a>
    </div>
    <!-- End Main Content -->

    <!-- Sidebar -->
    <aside class="large-4 columns">
      <div id="summary" class="panel">
        <h4>Summary</h4>
        {% include "app/commonSummary.html" %}

        <a href="#" data-reveal-id="training-set-modal" class="button expand tiny">See the training set</a>
      </div>
    </aside>
    <!-- End Sidebar -->

    <div id="training-set-modal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
      <h3 id="modalTitle">Samples used to fit the model</h3>
      <div id="classified-comments" class="comments">
        {% for c in comments %}
          {% include "app/commentRow.html" %}
          <hr/>
        {% endfor %}
      </div>
      <a class="close-reveal-modal" aria-label="Close">&#215;</a>
    </div>

{% endblock %}

{% block js %}
  <!-- JS (Placed at the end of the document so the pages load faster) -->
  {% load staticfiles %}
  <script src="{% static 'app/js/vendor/jquery.js' %}"></script>
  <script src="{% static 'app/js/vendor/fastclick.js' %}"></script>
  <script src="{% static 'app/js/vendor/jquery.cookie.js' %}"></script>
  <script src="{% static 'app/js/foundation.min.js' %}"></script>
  <script src="{% static 'app/js/base.js' %}" type="text/javascript"></script>
  <script src="{% static 'app/js/spam.js' %}" type="text/javascript"></script>
  <script>
    $(document).foundation();
  </script>
{% endblock %}
