#content {
  /*min-height: 270px;*/
  /*min-height: 350px;*/
  min-height: 500px;
}

#summary div {
  margin-bottom: 10px;
}

@media only screen and (min-width: 64.063em) { /* min-width 1025px, large screens */
  #summary {
    width: 300px; /* almost equivalent to 4 columns */
    position: fixed;
  }
}

#video-details {
  border: solid #ccc;
  border-width: 0 0 1px;
  margin-bottom: 1.25rem;
  padding-bottom: 1.25rem;
}

.comment_tag, .comment_content, #export-button {
 margin-bottom: 0px;
}

.comment_header {
  margin-bottom: 10px;
}

.comment_author {
  margin-right: 10px;
}

.tag_column {
  padding-left: 0;
}

.comment {
  word-wrap: break-word;
}

.comment_content, .lockup-title {
  font-size: 13px;
}

.lockup-meta {
  font-size: 11px;
}

.loading-icon {
  background: white url("../img/loading.gif") no-repeat right bottom;
  /*width: 32px;*/
  /*height: 32px;*/
}

.label-export {
  padding-left: 0px;
}

.fi-refresh {
   font-size: 130%;
}

.disabled {
  color: #888 !important;
}

/* www.justinaguilar.com/animations/ */
.pulse{
  animation-name: pulse;
  -webkit-animation-name: pulse;

  animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  25% {
    transform: scale(0.95);
    opacity: 0.7;
  }
  50% {
    transform: scale(1.05);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    opacity: 1;
  }
  25% {
    -webkit-transform: scale(0.95);
    opacity: 0.7;
  }
  50% {
    -webkit-transform: scale(1.05);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 1;
  }
}
